#fac_section{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.accordion-item{
    width: 100%;
}